.Burger {
  width: 100%;
  margin: auto;
  height: 250px;
  overflow: scroll;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}

@media (min-width: 500px) and (min-height: 400px) {
  .Burger {
    width: 350px;
    height: 300px;
  }
}
.Burger::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.Burger::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
.Burger::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.Burger::-webkit-scrollbar-thumb:hover {
  background: #000000;
}
.Burger::-webkit-scrollbar-thumb:active {
  background: #ffffff;
}
.Burger::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 50px;
}
.Burger::-webkit-scrollbar-track:hover {
  background: #666666;
}
.Burger::-webkit-scrollbar-track:active {
  background: #333333;
}
.Burger::-webkit-scrollbar-corner {
  background: transparent;
}
